
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import 'var.scss';


html, body{
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
}

*{
  font-family: 'Autour One',sans-serif;
  box-sizing: border-box;// para correção do passing auto
}
.flex{
  display: flex;
  &-center{
    justify-content: center;
    align-items: center;
  }
}
